:root {
  --primary-text-color: #757575;
  --head-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --primary-background-color: #f5f5f5;
  --logo-black-color: #000;
}
.body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
}

/* Логотип верхний */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-black {
  color: var(--logo-black-color);
}

/* убираем точки списков */
.list {
  list-style: none;
}

/* убираем подчеркивание ссылок */
.link {
  text-decoration: none;
}

/* Заголовки */
.list-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
/* Подписи под заголовками */
.list-text {
  font-size: 16px;
  line-height: 1.87;
}

/* Header */
.header-nav-link {
  color: var(--head-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contakt-mail,
.header-contakt-tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-contakt-mail:hover,
.header-contakt-tel:hover,
.header-nav-link:focus,
.header-contakt-mail:focus,
.header-contakt-tel:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background-color: var(--hero-background-color);
  color: var(--primary-white-color);
}

/* Кнопка героя*/
.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 32px 10px;
  margin: auto;
  display: block;
  font-size: 16px;
  cursor: pointer;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

/* Особенности */

.list-header {
  color: var(--head-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list-text {
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
  letter-spacing: 0.03em;
}

/* Деятельность */

/*-- Team -- */
.team-header,
.activity-header {
  color: var(--head-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-item-header {
  color: var(--head-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-item-text {
  color: var(--portfolio-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
/*-- Футер -- */
.footer {
  background-color: var(--hero-background-color);
}
.logo-white {
  color: var(--primary-white-color);
}

.address-list-item {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.address-list-mail {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.address-list-tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address-list-item:hover,
.address-list-mail:hover,
.address-list-tel:hover,
.address-list-item:focus,
.address-list-mail:focus,
.address-list-tel:focus {
  color: var(--accent-color);
}
/*----------------------------------------*/
/*-- +++++++++++++ПОРТФОЛИО+++++++++++ -- */

.radio {
  background-color: var(--button-background-color);
  color: var(--head-text-color);
  border: none;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 22px 6px;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.radio:hover,
.radio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-list-title {
  color: var(--head-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}
.portfolio-list-text {
  color: var(--portfolio-text-color);
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.03em;
}
